# Auto detect text files and perform LF normalization
* text=auto

# CAD source and mesh files
*.stl binary
*.f3d binary

# Binary reference and media files
*.pdf binary
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary
