# Operating-system and editor files
.DS_Store
Thumbs.db
.idea/
*venv*
__pycache__/
*.py[cod]

# Utility-script generated data
Utility scripts/no_pips_data.txt

# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd

# IAR Workspace files
*.eww

# IAR Settings
*.dbgdt
*.dnx
*.wsdt
*.xcl
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

# IAR generated/debug output
*.pbd
*.pbd.*
*.browse
*.pbi
*.pbi.*
*.dep
*.out
*.o
**/Debug/Exe/
**/Debug/List
**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*
firmware/settings/*
firmware/Debug/*

# Logs, backups, and compiled binaries
*.log
Backup*
*.bin
*.elf
*.hex
*.map
*.bak
